body {
  text-align: center;
  background-color: #e8eae6;
}

#results {
  font-size: 4rem;
  margin-top: 8%;
  margin-bottom: 10px;
  width: 17%;
  position: relative;
  left: 41.5%;
  background-color: grey;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 5px;
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 10px solid black;
  border-radius: 10%;
  position: relative;
  background-color: #cdd0cb;
  cursor: pointer;
}

h1 {
  position: relative;
  bottom: 15px;
}

.pressed {
  background-color: grey;
}

.footer {
    bottom: 0;
    color: #707070;
    height: 2em;
    left: 0;
    position: relative;
    font-size: small;
    width:100%;
    text-align: center;
    margin-top: 5%;
}
